#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formStyleDos{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(98, 99, 98);
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;

 
}

.botonEnviar{
  background-color: rgb(53, 118, 182);
  margin-top: 10px;
}

.error{
  color: rgb(158, 16, 16);
}

.cardStyle {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(98, 99, 98);
  border-radius: 10px;
  border: 1px solid black;
  
}

.resultadoColor{
  background-color: rgb(21, 165, 21);
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
}
